<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>601786633072-o0uaabtauge908odeinpk3qcnb3d6a07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601786633072-o0uaabtauge908odeinpk3qcnb3d6a07</string>
	<key>API_KEY</key>
	<string>AIzaSyDr0wH9Q0bb2PtKWZjlbeRUj3LmtiFUapo</string>
	<key>GCM_SENDER_ID</key>
	<string>601786633072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.etibaar</string>
	<key>PROJECT_ID</key>
	<string>etibaar-245f3</string>
	<key>STORAGE_BUCKET</key>
	<string>etibaar-245f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601786633072:ios:e0d9a27e79cfe2a59e5db5</string>
</dict>
</plist>